.password_enter .password_enter_body {
  display: flex;
  flex-direction: column;
  margin: 100px 20px;
  align-items: center;
}
.password_enter .password_enter_body .password_enter_items .steps {
  font-size: 13px;
  margin-bottom: 2px;
}
.password_enter .password_enter_body .password_enter_items .email_address {
  font-weight: 400;
  margin-bottom: 10px;
}
.password_enter
  .password_enter_body
  .password_enter_items
  .email_address
  > span {
  font-weight: 600;
}
.password_enter .password_enter_body .password_enter_items .steps > span {
  font-weight: 600;
  margin: 0 2px;
}
.password_enter .password_enter_body .password_enter_items .heading {
  font-size: 20px;
  font-weight: 700;
}
.password_enter .password_enter_body .password_enter_items .para {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.password_enter .password_enter_body .password_enter_items > form {
  display: flex;
  flex-direction: column;
}
.password_enter .password_enter_body .password_enter_items > form > input {
  margin-bottom: 10px;
  padding: 15px 5px;
  outline: none;
  width: 350px;
  max-width: 450px;
  border: 1px solid #000;
  font-weight: 700;
  font-size: 15px;
}
.password_enter
  .password_enter_body
  .password_enter_items
  > form
  > input:focus {
  border: 1px solid blue;
}
.password_enter
  .password_enter_body
  .password_enter_items
  > form
  > input::placeholder {
  font-weight: 600;
}
.password_enter
  .password_enter_body
  .password_enter_items
  > form
  .continue_btn {
  border: none;
  outline: none;
  color: #fff;
  background-color: #e50914;
  padding: 10px 10px;
  border-radius: 2px;
  width: 350px;
  max-width: 450px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 35%);
}

.password_enter
  .password_enter_body
  .password_enter_items
  > form
  .continue_btn:hover {
  background-color: #f6121d;
}
.password_enter .password_enter_body .password_enter_items .wanning_border {
  border: 1px solid rgb(252, 6, 6);
}
.password_enter
  .password_enter_body
  .password_enter_items
  .wanning_border:focus {
  border: 1px solid rgb(252, 6, 6);
}


.password_enter .password_enter_body .password_enter_items > form .loading_btn {
  padding: 11px 20px;
  border-radius: 5px;
  background-color: #f6121d;
  border: none;
  cursor: pointer;
  width: 350px;
  max-width: 450px;
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: not-allowed;
}

.password_enter .password_enter_body .password_enter_items > form .loading_btn .sign_up_loading_animation {
  position: relative;
  width: 24px;
  height: 24px;
  animation: loading 1s infinite linear;
  cursor: not-allowed;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
