.main_nav_bar .nav_bar {
  position: fixed;
  top: 0;
  padding: 15px;
  width: 100%;
  height: 60px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: 0.5s;
}
.main_nav_bar .nav_bar_items {
  display: flex;
  justify-content: space-between;
}
.main_nav_bar .nav_bar_black {
  background-color: #000;
}
.main_nav_bar .nav_bar_logo {
  position: fixed;
  width: 80px;
  left: 0;
  cursor: pointer;
  top: 0;
  padding-left: 10px;
  padding-top: 10px;
}
.main_nav_bar .nav_bar_avatar {
  position: fixed;
  width: 30px;
  height: 32px;
  right: 20px;
  cursor: pointer;
}
